@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Dafaults */
    --radius: 0.5rem;

    /* Light mode */
    --ring: 27 132 255;

    --border: 219 223 233;
    --border-active: 196 202 218;
    --border-invalid: 248 40 90;
  
    --accent: 27 132 255;
    --accent-active: 10 102 235;
    --accent-foreground: 255 255 255;
  
    --info: 114 57 234;
    --info-active: 102 43 214;
    --info-foreground: 255 255 255;
  
    --success: 23 198 83;
    --success-active: 13 172 68;
    --success-foreground: 255 255 255;
  
    --warning: 246 192 0;
    --warning-active: 226 154 0;
    --warning-foreground: 255 255 255;
  
    --danger: 248 40 90;
    --danger-active: 230 24 83;
    --danger-foreground: 255 255 255;
  
    --background: 252 252 252;
    --foreground: 7 20 54;
    --muted: 153 161 183;
  
    --card: 255 255 255;
    --card-border: 241 241 244;
    --card-foreground: 7 20 54;
    --card-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.03);
  }
  
  /* Dark mode */
  [data-mode='dark'] {
    --ring: 27 132 255;

    --border: 54 56 67;
    --border-active: 70 72 82;
    --border-invalid: 228 40 85;
    
    --accent: 0 106 230;
    --accent-active: 6 138 255;
    --accent-foreground: 255 255 255;
  
    --info: 136 63 255;
    --info-active: 173 133 255;
    --info-foreground: 255 255 255;
  
    --success: 0 162 97;
    --success-active: 0 191 110;
    --success-foreground: 255 255 255;
  
    --warning: 197 154 0;
    --warning-active: 239 206 3;
    --warning-foreground: 255 255 255;
  
    --danger: 228 40 85;
    --danger-active: 245 62 98;
    --danger-foreground: 255 255 255;
  
    --background: 15 16 20;
    --foreground: 245 245 245;
    --muted: 99 102 116;
  
    --card: 22 24 29;
    --card-border: 31 33 40;
    --card-foreground: 245 245 245;
    --card-shadow: none;
  
    --border: 31 33 40;
    --ring: 0 106 230;
  }
}